beautifulsoup4==4.13.4
boto3==1.38.16
groq==0.24.0
matplotlib==3.8.4
pandas==2.2.3
plotly==5.21.0
prophet==1.1.6
Requests==2.32.3
statsmodels==0.14.4
streamlit==1.45.0
yfinance==0.2.59
geopy==2.4.1
numpy==2.2.6
PyPDF2==3.0.1
scikit_learn==1.6.1
