beautifulsoup4==4.14.3
boto3==1.42.35
groq==0.13.1
matplotlib==3.8.4
numpy==2.3.5
pandas==2.3.3
plotly==5.21.0
prophet==1.1.4
requests==2.32.3
seaborn==0.13.2
statsmodels==0.14.6
streamlit==1.47.0
yfinance==0.2.59
